// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$dark-gray: #4b4e6d;
$gray: #d2d7df;
$light-gray: #F4F4F4;
$purple: #CC199D;
$light-purple: #fffcf9;
