// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #defc05;
$orange: #E67E22;
$green: #32B796;
$dark-gray: #4b4e6d;
$gray: #d2d7df;
$light-gray: #F9F9F9;
$purple: #e31a90;
$light-purple: #fffcf9;
