// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #fbff28;
$orange: #E67E22;
$green: #72E1D1;
$dark-gray: #4b4e6d;
$gray: #b2afaf;
$lighter-gray: #F9F9F9;
$light-gray: #F9F9F9;
$purple: #af51bf;
$light-purple: #fffcf9;
