// Specific CSS for your home-page

// html, body, #bgimage {
//   background: linear-gradient(55deg, rgba(175, 81, 191, 1), rgba(175,81,191,0.5));
// }

.img-responsive {
  width: 200px;
  height: 50px;
}

.section1 {
  background: linear-gradient(55deg, rgba(175, 81, 191, 0.95), rgba(175,81,191,0.85));
  width: 100vw;
  & h2 {
    margin: 120px 0px 10px 0px;
    size: 45px;
  }
  & p {
    margin: 42px 0px 28px 0px;
    color: white;
  }
}

.section2 {
  background: white;
  width: 100vw;
}

.install {
  margin-bottom: 25px;
}

#img-app {
  margin-top: 10px;
}

.section3 {
  background: linear-gradient(55deg, rgba(175, 81, 191, 0.95), rgba(175,81,191,0.85));
  width: 100vw;
}
