<div id="feed" class="articles navbar-space">
  <% @articles.each do |article| %>
    <%= render "articles/article", article: article %>
  <% end %>
</div>

<div id="infinite-articles" class="pagination">
  <%= will_paginate @articles %>
</div>
