body {
// background: linear-gradient(45deg, #000000, #434343);
}

body, a {
  margin: 0;
}

// Gros titres
h1 {
  font-size: 22px;
  color: white;
  margin: 0;
}

h2 {
  font-size: 19px;
  color: black;
  margin: 0px;
}

// Noms des utilisateurs dans les chats
h3 {
  font-size: 19px;
  font-family: $body-font;
  margin: 0px;
}

h4 {
  font-size: 16px;
  font-family: $body-font;
  margin: 0px;
}

// Infos complémentaires, sous-titres dans les chats
h5 {
  font-size: 14px;
  font-family: $body-font;
  margin: 0px;
}

// Textes longs (chats, articles)
a, p {
  font-size: 16px;
  margin: 0px;
}
