html, body {
  // background: $purple;
  // background-image: url('background4.png');
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, p, a {
  text-decoration: none;
  color: $dark-gray;
}

// Gros titres
h1 {
  font-size: 23px;
  color: $purple;
  opacity: 0.95;
  margin: 0px;
  font-weight: lighter;
  padding: 10px 0px 5px 0px;
}

h2 {
  margin: 0px;
  font-size: 22px;
  color: white;
  text-shadow: 2px 2px 1px $purple;
}

// Noms des utilisateurs dans les chats
h3 {
  size: 19px;
  font-family: $body-font;
  color: $dark-gray;
  margin: 0px;
}

// Textes longs (chats, articles)
a, p {
  font-size: 19px;
  color: $dark-gray;
  margin: 0px;
  font-family: $body-font;
  text-align: justify;
  text-justify: inter-word;
}

i {
  font-size: 26px !important;
  color: $gray;
}

// Infos complémentaires, sous-titres dans les chats
h4 {
  font-size: 17px;
  font-family: $body-font;
  margin: 0px;
  color: $dark-gray;
}

h5 {
  font-size: 14px;
  color: $gray;
  font-family: $body-font;
  margin: 0px;
  text-decoration: none;
}

.iphone-home {
  display: none;
  width: 440px;
  height: 850px;
  background-size: contain;
}

@media only screen and (min-width:495px) {
 .iphone-home {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0px;
  top: 0;
  bottom: -32px;
  width: 440px;
  height: 850px;
  z-index: 100;
  background-image: url('iphone-empty.png');
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat
 }
}

.layout {
  display: block;
  position: absolute;
  margin: auto;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  background: transparent;
  background-color: $purple;
  overflow-y: hidden;
  overflow: auto;
}

@media only screen and (min-width:495px) {
 body {
  background-color: $purple;
  & .layout {
  border-radius: 2px;
  display: block;
  position: absolute;
  margin: auto;
  left: -10px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 365px;
  height: 100%;
  max-height: 644px;
  z-index: 101;
  background-color: $purple;
  overflow-y: hidden;
  overflow: auto;
    }
  }
}

.row {
  width: 100%;
  margin: 0px;
}
