<%= link_to articles_path do %>
  <div class="home-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('http://img.mensjournal.com/article-leads-horizontal/gettyimages-672838343-d466d969-151d-4844-bb34-8597738a79d3.jpg') no-repeat center center; background-size: cover;">
    <h1>Articles & Connaissances</h1>
  </div>
<% end %>
<%= link_to chat_room_path(ChatRoom.first) do %>
  <div class="home-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('http://static-cdn.arte.tv/cdnp-cinema/sites/default/files/styles/foundation_seo_social_image/public/atoms/image/20161220/laventure2.jpg?itok=eaIdtUIf') no-repeat center center; background-size: cover;">
    <h1>Le coin des Darons</h1>
  </div>
<% end %>
<%= link_to products_path do %>
  <div class="home-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('http://originmedia0.mensxp.com/media/content/2017/Jun/arnold-schwarzenegger-the-man-who-was-never-just-a-bodybuilder-1400x653-1496389425_1400x653.jpg') no-repeat center center; background-size: cover;">
    <h1>La télécommande magique</h1>
  </div>
<% end %>

