.index {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 25vh;
  padding: 0px 0px 10px 0px;
}

.carousel {
  width: 100vh;
}
.square-card {
  float: left;
  height: 100px;
  width: 100px;
  display: inline;
  margin: 5px;
  border-radius: $border-radius-base
  }
