.card-design {
  // padding: 2px 2px 5px 2px;
  margin: 10px 4px 2px 4px;
  border-radius: $border-radius-base;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 5px $gray;
}

.card-author {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.card-content {
  text-decoration: none;
  width: 100%;
  padding: 12px;
}

#timer {
  position: absolute;
  right: 12px;
  top: 12px;
  color: $gray;
}
