.index {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0px 0px 2px 0px;
  overflow: auto;
  height: 30%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.square-card {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  float: left;
  height: 180px;
  width: 180px;
  margin: 1px;
  border-radius: $border-radius-base;
  position: relative;
  & h2 {
    position: absolute;
    bottom : 1px;
    padding-left: 2px;
  }
}
