.form-registration {
  margin-top: 80px;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 15px;

  h2 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px $yellow;
  }
  p {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: white;
  }
  label {
    color: white;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  .help-block {
    color: lightgrey;
    font-style: italic;
    font-size: 14px;
  }

  .form-inline > .form-group {
    margin: 0px 2px;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
    color: $purple;
    margin-top: 20px;
  }
  .btn:hover {
    background-color: $yellow;
    color: $purple;
    border-color: transparent;
  }
  a {
    color: white;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  a:hover {
    color: $yellow;
    // font-weight: bold;
    text-decoration: none;
  }
  #user_photo {
    font-style: italic;
    font-size: 14px;
    color: white;
  }
  .attachinary {
    color: white;
  }
  span {
    margin-bottom: none;
  }
}

.attachinary-input {
  display: none !important;
}

.attachinary_container{
  margin-top: 20px;
  ul{
    padding-left:0px;
    li{
      position:relative;
      display: inline-block;
      a{
        color: $blue;
        font-weight: normal;
      }
    }
  }
}

.form-group {
  margin: 0px;
}

.control-label {
  height: auto;
}

.form-control {
  background: $purple;
  border: 0px solid white;
  box-shadow: none;
  font-size: 20px;
  color: white;
  height: auto;
  border-bottom: 4px solid transparent;

  &:focus {
    outline: none;
    color: white;
    border-bottom: 4px solid $yellow;
    border-radius: 0px;
    box-shadow: none;
  }
}

.form-inline {
  display: flex;
}

.required {
  border: none;
  & abbr {
    border: none;
  }
}
