.flexbox {
  display: flex;
}
.flex-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content: left;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
// .fixed-top {
//   position: fixed;
//   top: 0px;
//   width: 100%;
//   z-index: 10;
// }
.flex-row {
  flex-direction: row;
  justify-content: left;
}

.navbar-space {
  margin-top: 53px !important;
}

.white-background {
  background-color: white;
  width: 100%;
}


