.categories {
  height: 100%;
  overflow: hidden;
}

.home-card {
  height: 33%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  img {
    width: 100%
  }
  h2 {
    opacity: 1 !important;
    text-align : center;
    color: white;
    text-shadow: 2px 2px 0px $green;
    &:hover {
    font-weight: bold;
    color: white;
    text-decoration: none !important;
    }
  }
}
