.home-card {
  height: 33.333vh;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  img {
    width: 100%
  }
  h1 {
    text-align : center;
    color: $purple;
    text-shadow: 2px 2px 1px $yellow;
    &:hover {
    font-weight: bold;
    color: white;
    text-decoration: none !important;
    }
  }
}
