.messages {
  padding: 10px;
  border-top: none;
}

.message-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
