.messages {
  padding: 10px;
  border-top: none;
  position: relative;
}

.message-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

#create-message {
  position: relative;
  bottom: 0px;
  padding: 0px;
}

#message_content {
  padding: 10px;
  margin-top: 10px;
}
