.modal-header {
  border: none;
  padding: 0px;
}

.modal-body {
  border: none;
  padding: 0px;
  margin: 0px;
}

.modal-footer {
  border: none;
  padding: 5px;
  text-align: center;
}

.modal {
    &-dialog {
      border-radius: 10px;
      background-color: white;
      max-width: 700px;
    }
    &-backdrop{
        background-color: black;
        &.in{
            opacity: .3;
        }
    }
    &-content {
        position: relative;
        background-color: transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

#show-modal {
  position: fixed;
  bottom: 7px;
  opacity: 0.8;
  width: 30%;
  left: 50%;
  margin-left: -15%;
}

@media only screen and (min-width:495px) {
  .modal-dialog {
    top: 20vh;
  }
  #show-modal {
    bottom: 10vh;
  }
}


.dropdown-backdrop {
  z-index: 100;
}


.modal * .form-control {
  background: white;
  border: 0px solid white;
  box-shadow: none;
  font-size: 18px;
  color: $dark-gray;
  height: auto;
  width: 100%;
  &:focus {
    color: $dark-gray;
    border-bottom: 2px solid $purple;
    border-radius: 0px;
    box-shadow: none;
  }
}
