.navbar {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
  display: flex;
  position: absolute;
  justify-content: space-between;
  color: $purple;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
  height: 7%;
  width: 100%;
  z-index: 100;
  border: 0px;
  border-radius: 0px;
  & i, h3 {
    color: white;
    text-shadow: 2px 2px 0px $green;
    background-color: $yellow;
    box-shadow: 1px 1px 0px $gray;
    padding: 8px 11px;
    border-radius: 50%;
  }
}

#logo-cdd {
  color: $yellow;
  text-shadow: 2px 2px 0px white;
  font-weight: bold;
}

.title {
  color: $purple;
  text-shadow: $yellow;
}

// Propriétées boutton déroulant de droite
.navbar-item {
  font-size: 25px;
  cursor: pointer;
  // position: absolute;
  // top: 3px;
  // right: 10px;
  z-index: 100;
  color: $purple;
  margin: 5px 0px 0px 10px;
}

// Propriétées back à gauche
.back-btn {
  font-size: 25px;
  cursor: pointer;
  // position: absolute;
  // top: 3px;
  // left: 10px;
  z-index: 100;
  color: $purple;
  margin: 5px 10px 0px 0px;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  z-index: 100;
  opacity: 0.95;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $dark-gray !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
// .navbar-dropdown-menu:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 10px;
//   top: -6px;
//   background-color: white;
//   transform: rotate(45deg);
//   border-left: 1px solid #E6E6E6;
//   border-top: 1px solid #E6E6E6;
// }

.navbar-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.bottom-navbar {
  z-index: 1000;
  position: relative;
}

#show-modal {
  z-index: 1000;
}
