.navbar {
  position: fixed;
  background: transparent;
  color: $purple;
  padding: 0px;
  margin: 0px;
  max-height: 5vh;
  width: 100%;
  z-index: 100;
  & i, h3 {
    color: $purple;
    text-shadow: 2px 2px 1px $yellow;
  }
}

.title {
  color: $purple;
  text-shadow: $yellow;
}

.navbar-item {
  font-size: 25px;
  cursor: pointer;
  padding: 0 2px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 100;
  color: $purple;
}

.back-btn {
  font-size: 25px;
  cursor: pointer;
  padding: 0 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  color: $purple;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  z-index: 100;
  opacity: 0.8;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $dark-gray !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
// .navbar-dropdown-menu:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 10px;
//   top: -6px;
//   background-color: white;
//   transform: rotate(45deg);
//   border-left: 1px solid #E6E6E6;
//   border-top: 1px solid #E6E6E6;
// }

.navbar-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

// .bottom-navbar {
//   position: relative;
// }
