// Background
.posts {
  font-size: 14px;
  padding: 20px;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

// Post complet
.post {
  color: #320e3b;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #0d1321;
  box-shadow: 0 1px 5px 0 #0d1321;
  // &.right {
  //   flex-direction: row-reverse;
  //   .post-content {
  //      background-color: #F2F9FC;
  //   }
  //   .card-author {
  //     background: $green;
  //     border-radius: 0px 15px 15px 0px;
  //   }
  // }
}

// Infos du haut du post
.post-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: #320e3b;
  & img {
    width: 100px;
    height: 100px;
  }
}

.card-author {
  display: flex;
  flex-direction: column;
}

// Contenu du post
.post-content {
  text-decoration: none;
  width: 100%;
}

// Bas du post

.post-bottom {
  display: flex;
  justify-content: space-between;
}


// Form input

#create-post {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

.post_content {
  margin-bottom: 0;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
