// Background
.posts {
  padding: 10px;
  border-top: none;
  overflow: scroll;
}

// Infos du haut du post
.post-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

// Contenu du post

#post_content {
  padding: 0px;
  height: 30px;
  width: 300px;
}

// Bas du post

.post-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.post-bottom-left{
  display: flex;
  justify-content: flex-start;
  & h5 {
    margin: 0px 10px 0px 5px;
  }
}

.post-bottom-right {
  display: flex;
  justify-content: flex-end;
    & i {
    margin: 0px 5px 0px 10px;
  }
}

// Form input
#create-post {
  padding: 10px;
  border: none;
}

#new_post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cute-button {
  border: none;
  opacity: 0.8;
  &:hover {
    background-color: $purple;
    color: white;
    font-style: bold;
  }
}

.cute-button-purple {
  border: none;
  opacity: 0.8;
  background-color: $purple;
  color: white;
  padding: 7px 3px;
  border-radius: 3px;
}
