// Background
.posts {
  padding: 20px;
  border-top: none;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

// Post complet
.post {
  margin-bottom: 10px;
  border-radius: $border-radius-base;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 2px $gray;
  & h3 {
    color: $purple;
    padding: 5px;
  }
  & h5, i {
    color: $gray;
    padding: 5px;
  }
  & i {
    font-size: 24px;
  }
  & p, a {
    color: $dark-gray;
    opacity: 0.8;
  }
  & img {
    margin: 3px;
  }
  // &.right {
  //   flex-direction: row-reverse;
  //   .post-content {
  //      background-color: #F2F9FC;
  //   }
  //   .card-author {
  //     background: $green;
  //     border-radius: 0px 15px 15px 0px;
  //   }
  // }
}

// Infos du haut du post
.post-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.card-author {
  display: flex;
  flex-direction: column;
}

#timer {
  position: absolute;
  right: 5px;
}

// Contenu du post
.post-content {
  text-decoration: none;
  width: 100%;
  padding: 10px;
}

// Bas du post

.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


// Form input

#create-post {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
