.profile-top {
  display: flex;
  align-items: center;
  & h1, p {
    color: white;
  }
  & i {
    color: $purple;
  }
}

.profile-middle {
  padding: 5px;
}

// .profile-kids {
//   padding: 0px 15px;
//   margin: 15px 0px;
//   width: 100%;
//   flex-wrap: nowrap;
//   overflow-y: hidden;
//   overflow-x: scroll;
//   -webkit-overflow-scrolling: touch;
//   overflow: auto;
//   height: 30vh;


// }

// .kid-card {
//   display: inline-grid;
//   justify-content: center;
//   align-items: center;
//   float: left;
//   height: 20vh;
//   margin: 5% 2.5%;
//   border-radius: 5%;
//   position: relative;
//   & h3 {
//     font-size: 20px;
//     color: $purple;
//   }
// }

#add-kid {
  & h4 {
    text-align: center;
    padding: 10px;
  }
}
