<div class="text-center">
  <%= image_tag "Logo2.png", style: "height: 200px"%>
</div>

<p>Salut !</p>

<p>Pour confirmer votre mail et devenir un daron, un vrai :</p>

<p><%= link_to 'Cliquez-ici.', confirmation_url(@resource, confirmation_token: @token) %></p>

<a href="https://www.lesdarons.club"><p>Les Darons.</p></a>

