<div class="text-center">
  <%= image_tag "Logo2.png", style: "height: 200px"%>
</div>

<h1>Salut !</h1>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Juste un petit mot pour vous dire que votre adresse e-mail va être changée pour : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Juste un petit mot pour vous dire que votre nouvel e-mail est : <%= @resource.email %>.</p>
<% end %>

<a href="https://www.lesdarons.club">Les Darons.</a>
