<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="mail" style="font-family: Montserrat">

<h4>Salut !</h4>

<p>Votre password a bien été changé !</p>
<p>Voila, voila, c'était juste pour dire ça.</p>

<p>Les Darons.</p>
<p style="text-decoration: none">www.lesdarons.club</p>
<a href="https://www.lesdarons.club"><img src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_250/v1510235264/Logo2_iidoia.png" alt=""></a>
</div>
