<div class="text-center">
  <%= image_tag "Logo2.png", style: "height: 200px"%>
</div>

<p>Salut !</p>

<p>Votre password a bien été changé !</p>
<p>Voila, voila, c'était juste pour dire ça.</p>

<a href="https://www.lesdarons.club">Les Darons.</a>

