<div class="text-center">
  <%= image_tag "Logo2.png", style: "height: 200px"%>
</div>

<p>Salut !</p>

<p>Quelqu'un a demandé un lien pour changer de password. Lien ci-dessous :</p>

<p><%= link_to 'Changer de password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé à changer de password, c'est bizarre :x.</p>
<p>Dans tous les cas, votre password ne changera pas tant que vous n'aurez pas cliqué sur le lien.</p>

<a href="https://www.lesdarons.club"><p>Les Darons.</p></a>
