<div class="container carousel">
  <% @products.each do |product| %>
    <%= link_to type_product_path(product.type, product) do %>
      <div class="card-design">
        <div class="article-top">
          <h3><%= product.name %></h3>
        </div>
        <div class="article-preview">

          <h5><%= product.description %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
